<div class="modal-header modal-header-teal">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div uib-accordion>
    <div uib-accordion-group class="panel panel-primary" is-open="true">
        <div uib-accordion-heading>
            LTE基站列表
            <div class="badge">{{eNodebList.length}}</div>
        </div>
        <div e-nodeb-plain-table items="eNodebList" begin-date="beginDate" end-date="endDate"></div>
    </div>
    <div uib-accordion-group class="panel panel-success">
        <div uib-accordion-heading>
            LTE小区列表
            <div class="badge">{{cellList.length}}</div>
        </div>
        <div lte-cell-table items="cellList" begin-date="beginDate" end-date="endDate"></div>
    </div>
    <div uib-accordion-group class="panel panel-default">
        <div uib-accordion-heading>
            CDMA基站列表
            <div class="badge">{{btsList.length}}</div>
        </div>
        <div bts-plain-table items="btsList"></div>
    </div>
    <div uib-accordion-group class="panel panel-warning">
        <div uib-accordion-heading>
            CDMA小区列表
            <div class="badge">{{cdmaCellList.length}}</div>
        </div>
        <div cdma-cell-table items="cdmaCellList"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">退出</button>
</div>    
