<div class="modal-header modal-header-blue">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div uib-alert ng-repeat="message in page.messages" class="alert-{{message.type}}" dismiss-on-timeout="2000" close="closeAlert(page.messages, $index)">
        {{message.contents}}
    </div>
    <div e-nodeb-table items="eNodebList"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="addENodebs()">新增基站</button>
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
