<h3 class="text-primary">项目名称：{{item.projectName}}</h3>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>保障等级</td>
        <td>{{item.demandLevelDescription}}</td>
        <td>开始时间</td>
        <td>{{item.beginDate | date: 'yyyy-MM-dd'}}</td>
        <td>结束时间</td>
        <td>{{item.endDate | date: 'yyyy-MM-dd'}}</td>
    </tr>
    <tr>
        <td>需求联系人</td>
        <td>{{item.person}}</td>
        <td>联系人电话</td>
        <td>{{item.phone}}</td>
        <td>需求部门</td>
        <td>{{item.department}}</td>
    </tr>
    <tr>
        <td>通信车类型</td>
        <td>{{item.vehicularTypeDescription}}</td>
        <td>区域</td>
        <td>{{item.district}}</td>
        <td>镇区</td>
        <td>{{item.town}}</td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-5">
        当前状态：
        <div emergency-process-state state="item.currentStateDescription"></div>
        下一状态：
        <div emergency-process-state state="item.nextStateDescription"></div>
    </div>
    <div class="col-md-7">
        <div class="input-group">
            处理信息：
            <input type="text" ng-model="processInfo" class="form-control"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="createProcess()" ng-disabled="!canGoNextStep">
                    流程处理
                </button>
                <button type="button" class="btn btn-warning" ng-click="createFiber()">
                    生成光纤单
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    处理记录
                </h3>
            </div>
            <div class="panel-body">
                <div emergency-process-list items="processItems"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    光纤工单
                </h3>
            </div>
            <div class="panel-body">
                <div fiber-item-list items="fiberList"></div>
            </div>
        </div>
    </div>
</div>
