<h3 class="text-primary">支撑保障项目名称：{{item.projectName}}</h3>
<div vip-demand-info item="item"></div>
<form name="signup_form" novalidate class="row form-horizontal">
    <div class="col-md-5">
        <label>处理信息：</label>
        <textarea class="form-control" rows="5" ng-required="true" ng-model="item.finishResults" form-field-error></textarea>
    </div>
    <div class="col-md-7">
        <label>营销主题</label>
        <select class="form-control" ng-model="marketTheme.selected" ng-options="c as c for c in marketTheme.options"></select>
        <label> 回单信息：</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-required="true" ng-model="item.processInfo" form-field-error/>
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="save()" ng-disabled="signup_form.$invalid">保存信息</button>
            </span>
        </div>

    </div>
</form>
<div class="panel panel-teal">
    <div class="panel-heading">
        <h3 class="panel-title">
            处理记录
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label>当前状态：</label>
                    <div vip-process-state state="item.currentStateDescription"></div>
                    <label>下一状态：</label>
                    <div vip-process-state state="item.nextStateDescription"></div>
                </div>
            </div>
            <div class="col-md-6">
                <label>处理信息：</label>
                <div class="input-group">
                    <input type="text" ng-model="processInfo" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="createProcess()" ng-disabled="!item.nextStateDescription">
                            生成流程
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div vip-process-list items="processItems"></div>
    </div>
</div>

