<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div grid-cluster-table cluster-list="clusterList" current-cluster="currentCluster"></div>
    <div grid-in-cluster-table items="currentCluster.list"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="calculateKpis()">计算指标</button>
    <button class="btn btn-warning" ng-click="ok()">展示当前簇</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>