<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div city-selection city="city">
                <button type="button" class="btn btn-success" ng-click="showKpi()">
                    <i class="glyphicon glyphicon-search" title="统计"></i>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div date-selection stat-date="statDate"></div>
        </div>
    </div>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-stats"></span>
            2G掉话率
            <button style="float: right" class="btn btn-sm btn-success" ng-click="showDropTrend()">多日趋势</button>
        </div>
        <div class="panel-body">
            <div top-drop-table items="topData.drop2G"></div>
        </div>
    </div>
    <div class="panel panel-orange">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-apple"></span>
            3G连接成功率
            <button style="float: right" class="btn btn-sm btn-success" ng-click="showConnectionTrend()">多日趋势</button>
        </div>
        <div class="panel-body">
            <div top-connection-table items="topData.connection3G"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">调整建议</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>