<div>
    <label>{{dateTips}}</label>
    <div class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="statDate.value" is-open="statDate.opened" 
               ng-required="true" close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="statDate.opened = true">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
            <span ng-transclude></span>
        </span>
    </div>
</div>
