@import "themes/_colors.scss";

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    .text-muted {
	    color: #9fadbb;
    }
    .large {
	    color: $color-gray;
    }
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
    li {
	    margin-bottom: 10px;
	    padding: 15px 5px;
	    border-bottom: 1px solid #eee;
        .chat-body p {
	        margin: 0;
        }
    }
    li.left .chat-body { margin-left: 100px;}
    li.right .chat-body { margin-right: 100px;}
    .glyphicon {
	    margin-right: 5px;
    }
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}
