<table class="table table-striped">
    <thead>
        <tr>
            <th>统计日期</th>
            <th ng-repeat="index in indices1">{{index}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="detail in currentDetails">
        <td>{{detail.statDate | date: 'yyyy-MM-dd'}}</td>
        <td ng-repeat="index in indices1">{{detail.data[index]}}</td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th>统计日期</th>
            <th ng-repeat="index in indices2">{{index}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="detail in currentDetails">
        <td>{{detail.statDate | date: 'yyyy-MM-dd'}}</td>
        <td ng-repeat="index in indices2">{{detail.data[index]}}</td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th>统计日期</th>
            <th ng-repeat="index in indices3">{{index}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="detail in currentDetails">
            <td>{{detail.statDate | date: 'yyyy-MM-dd'}}</td>
            <td ng-repeat="index in indices3">{{detail.data[index]}}</td>
        </tr>
    </tbody>
</table>
