<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div date-span-row begin-date="beginDate" end-date="endDate">
        <span class="input-group-btn">
            <button type="button" class="btn btn-warning" ng-click="showCoverage()">
                <i class="glyphicon glyphicon-search" title="统计干扰"></i>
            </button>
        </span>
    </div>
    <div coverage-work-item-dialog-cells cells="preciseCells"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">生成调整建议</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>