<table class="table table-hover">
    <thead>
        <tr>
            <th>小区编号</th>
            <th>扇区编号</th>
            <th>邻区优先级</th>
            <th>允许切换</th>
            <th>ANR生成</th>
            <th>基站名称</th>
            <th>导入情况</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="neighbor in neighborCells">
            <td>{{neighbor.cellId}}</td>
            <td>{{neighbor.sectorId}}</td>
            <td>{{neighbor.cellPriority}}</td>
            <td>{{neighbor.handoffAllowed ? '是' : '否'}}</td>
            <td>{{neighbor.isAnrCreated ? '是' : '否'}}</td>
            <td>{{neighbor.eNodebName}}</td>
            <td>
                <span ng-if="neighbor.finished">已完成</span>
            </td>
            <td>
                <button class="btn btn-sm btn-primary" ng-show="$index===0" ng-click="dumpAll()">导入所有</button>
            </td>
        </tr>
    </tbody>
</table>