<div work-item-details current-view="currentView">
    <a ng-href="{{rootPath}}import/{{currentView.eNodebId}}/{{currentView.sectorId}}/{{currentView.eNodebName}}"
       class="btn btn-primary">
        干扰信息查看
    </a>
</div>
<div uib-tabset active="active">
    <div uib-tab index="0" heading="平台和反馈信息">
        <div ng-show="!initialize" class="row">
            <div class="col-md-3">
                <label>优化前周平均精确覆盖率</label>
            </div>
            <span class="col-md-2">{{preKpi | number: 2}}</span>
            <div class="col-md-3">
                <label>优化后周平均精确覆盖率</label>
            </div>
            <span class="col-md-2">{{postKpi | number: 2}}</span>
            <div class="col-md-2">
                <button class="btn btn-success" ng-click="finishItem()" 
                        ng-show="postKpi > preKpi + 4 && currentView.workItemState === '待处理'">回单</button>
            </div>
        </div>
        <div platform-and-feedback-info current-view="currentView" serial-number="serialNumber"></div>
    </div>
    <div uib-tab index="1" heading="指标变化趋势">
        <div date-span-row begin-date="beginDate" end-date="endDate">
            <button type="button" class="btn btn-success" ng-click="showTrend()">
                <i class="glyphicon glyphicon-search" title="统计数据"></i>
            </button>
        </div>
        <div highchart config="mrsConfig"></div>
        <div highchart config="preciseConfig"></div>
    </div>
    <div uib-tab index="2" heading="工单处理">
        <div analyze-table begin-date="beginDate" end-date="end-date" current-view="currentView" serial-number="serialNumber" 
             query-precise-cells="queryPreciseCells()" precise-cells="preciseCells"></div>
    </div>
    <div uib-tab index="3" heading="调整列表">
        <div precise-work-item-cells cells="preciseCells"></div>
    </div>
</div>

