@{
    ViewBag.Title = "告警信息导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div>
        @{Html.RenderPartial("_AlertPanel");}
    </div>
    <div class="row" ng-controller="alarm.import">
    <div class="col-md-5">
        <br />
        <label>开始日期：</label>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value"
                   is-open="beginDate.opened" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>

        <label>结束日期：</label>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value"
                   is-open="endDate.opened" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateDumpHistory()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
        <br />
        @using (Html.BeginForm("ZteAlarmPost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <label>中兴4G告警导入：</label>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="alarmZte" class="form-control" type="file" multiple accept=".csv"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
        @using (Html.BeginForm("HwAlarmPost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <label>华为4G告警导入：</label>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="alarmHw" class="form-control" type="file" multiple accept=".csv"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
        @using (Html.BeginForm("CoveragePost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <label>三网覆盖小区导入：</label>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="coverage" class="form-control" type="file" accept=".xlsx"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
        @using (Html.BeginForm("ZhangshangyouQualityPost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <label>掌上优测试详单导入：</label>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="zhangshangyouQuality" class="form-control" type="file" multiple accept=".csv"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
        @using (Html.BeginForm("ZhangshangyouCoveragePost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <label>掌上优信号详单导入：</label>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="zhangshangyouCoverage" class="form-control" type="file" multiple accept=".csv"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
    </div>

        <div class="col-md-7">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        导入进度
                    </h3>
                </div>
                <div class="panel-body">

                    <p>
                        <h4>告警数据</h4>
                        <button class="btn btn-primary" ng-click="dumpItems()">一键导入</button>
                        <button class="btn btn-warning" ng-click="clearItems()">清除缓存</button>
                        总数：{{progressInfo.totalDumpItems}}&nbsp;
                        成功数：{{progressInfo.totalSuccessItems}}&nbsp;
                        失败数：{{progressInfo.totalFailItems}}
                    </p>
                    <div uib-progress>
                        <div uib-bar value="100*progressInfo.totalSuccessItems / progressInfo.totalDumpItems" type="success">
                            <span ng-show="100*progressInfo.totalSuccessItems / progressInfo.totalDumpItems > 5">
                                {{100*progressInfo.totalSuccessItems / progressInfo.totalDumpItems | number: 2}}%
                            </span>
                        </div>
                        <div uib-bar value="100*progressInfo.totalFailItems / progressInfo.totalDumpItems" type="erroe">
                            <span ng-show="100*progressInfo.totalFailItems / progressInfo.totalDumpItems > 5">
                                {{100*progressInfo.totalFailItems / progressInfo.totalDumpItems | number: 2}}%
                            </span>
                        </div>
                    </div>

                    <p>
                        <h4>覆盖指标</h4>
                        <button class="btn btn-primary" ng-click="dumpCoverageItems()">一键导入</button>
                        <button class="btn btn-warning" ng-click="clearCoverageItems()">清除缓存</button>
                        总数：{{progressInfo.totalCoverageDumpItems}}&nbsp;
                        成功数：{{progressInfo.totalCoverageSuccessItems}}&nbsp;
                        失败数：{{progressInfo.totalCoverageFailItems}}
                    </p>
                    <div uib-progress>
                        <div uib-bar value="100*progressInfo.totalCoverageSuccessItems / progressInfo.totalCoverageDumpItems" type="success">
                            <span ng-show="100*progressInfo.totalCoverageSuccessItems / progressInfo.totalCoverageDumpItems > 5">
                                {{100*progressInfo.totalCoverageSuccessItems / progressInfo.totalCoverageDumpItems | number: 2}}%
                            </span>
                        </div>
                        <div uib-bar value="100*progressInfo.totalCoverageFailItems / progressInfo.totalCoverageDumpItems" type="erroe">
                            <span ng-show="100*progressInfo.totalCoverageFailItems / progressInfo.totalCoverageDumpItems > 5">
                                {{100*progressInfo.totalCoverageFailItems / progressInfo.totalCoverageDumpItems | number: 2}}%
                            </span>
                        </div>
                    </div>

                    <p>
                        <h4>掌上优测试详单</h4>
                        <button class="btn btn-primary" ng-click="dumpZhangshangyouQualityItems()">一键导入</button>
                        <button class="btn btn-warning" ng-click="clearZhangshangyouQualityItems()">清除缓存</button>
                        总数：{{progressInfo.totalZhangshangyouQualityItems}}&nbsp;
                        成功数：{{progressInfo.totalZhangshangyouQualitySuccessItems}}&nbsp;
                        失败数：{{progressInfo.totalZhangshangyouQualityFailItems}}
                    </p>
                    <div uib-progress>
                        <div uib-bar value="100*progressInfo.totalZhangshangyouQualitySuccessItems / progressInfo.totalZhangshangyouQualityItems" type="success">
                            <span ng-show="100*progressInfo.totalZhangshangyouQualitySuccessItems / progressInfo.totalZhangshangyouQualityItems > 5">
                                {{100*progressInfo.totalZhangshangyouQualitySuccessItems / progressInfo.totalZhangshangyouQualityItems | number: 2}}%
                            </span>
                        </div>
                        <div uib-bar value="100*progressInfo.totalZhangshangyouQualityFailItems / progressInfo.totalZhangshangyouQualityItems" type="erroe">
                            <span ng-show="100*progressInfo.totalZhangshangyouQualityFailItems / progressInfo.totalZhangshangyouQualityItems > 5">
                                {{100*progressInfo.totalZhangshangyouQualityFailItems / progressInfo.totalZhangshangyouQualityItems | number: 2}}%
                            </span>
                        </div>
                    </div>

                    <p>
                        <h4>掌上优信号详单</h4>
                        <button class="btn btn-primary" ng-click="dumpZhangshangyouCoverageItems()">一键导入</button>
                        <button class="btn btn-warning" ng-click="clearZhangshangyouCoverageItems()">清除缓存</button>
                        总数：{{progressInfo.totalZhangshangyouCoverageItems}}&nbsp;
                        成功数：{{progressInfo.totalZhangshangyouCoverageSuccessItems}}&nbsp;
                        失败数：{{progressInfo.totalZhangshangyouCoverageFailItems}}
                    </p>
                    <div uib-progress>
                        <div uib-bar value="100*progressInfo.totalZhangshangyouCoverageSuccessItems / progressInfo.totalZhangshangyouCoverageItems" type="success">
                            <span ng-show="100*progressInfo.totalZhangshangyouCoverageSuccessItems / progressInfo.totalZhangshangyouCoverageItems > 5">
                                {{100*progressInfo.totalZhangshangyouCoverageSuccessItems / progressInfo.totalZhangshangyouCoverageItems | number: 2}}%
                            </span>
                        </div>
                        <div uib-bar value="100*progressInfo.totalZhangshangyouCoverageFailItems / progressInfo.totalZhangshangyouCoverageItems" type="erroe">
                            <span ng-show="100*progressInfo.totalZhangshangyouCoverageFailItems / progressInfo.totalZhangshangyouCoverageItems > 5">
                                {{100*progressInfo.totalZhangshangyouCoverageFailItems / progressInfo.totalZhangshangyouCoverageItems | number: 2}}%
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>告警数量</th>
                    <th>掌上优测试记录数</th>
                    <th>掌上优信号记录数</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in dumpHistory">
                    <td>{{stat.dateString}}</td>
                    <td>{{stat.alarms}}</td>
                    <td>{{stat.zhangshangyouQualities}}</td>
                    <td>{{stat.zhangshangyouCoverages}}</td>
                </tr>
            </tbody>
        </table>
        
    <table class="table table-hover col-md-12">
        <thead>
        <tr>
            <th>日期</th>
            <th>MR覆盖-小区</th>
            <th>MR覆盖-镇</th>
            <th>MR覆盖-镇800</th>
            <th>MR覆盖-镇1800</th>
            <th>MR覆盖-镇2100</th>
            <th>MR覆盖-校园</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stat in coverageHistory">
            <td>{{stat.dateString}}</td>
            <td>{{stat.coverageStats}}</td>
            <td>{{stat.townCoverageStats}}</td>
            <td>{{stat.townCoverage800}}</td>
            <td>{{stat.townCoverage1800}}</td>
            <td>{{stat.townCoverage2100}}</td>
            <td>{{stat.collegeCoverageStats}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</div>

@section Scripts{
    <script src="~/Scripts/parameters/alarmimport.controller.js"></script>
}