@{
    ViewBag.Title = "热点信息维护";
}

<div ng-controller="maintain.hotspot">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-stats"></span>
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <div hot-spot-list items="hotSpotList"></div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button class="btn btn-sm btn-success" ng-click="addHotSpot()">
                    <i class="glyphicon glyphicon-apple"></i>
                    新增热点
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/parameters/maintain.hotspot.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LlMnTd7NcCWI1ibhDAdKeVlG"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="~/Scripts/MarkerClusterer.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script src="~/Scripts/baidu/plugins/baidu.tangram.js"></script>
    <script src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
    <script src="~/Scripts/baidu/plugins/ComplexCustomOverlay.js"></script>
}
