
@{
    ViewBag.Title = "忙时指标导入";
}

<h3 class="text text-primary"><strong>@ViewBag.Title</strong></h3>
<div class="row" ng-controller="hour.import">
    @{Html.RenderPartial("_AlertPanel");}
    <div class="col-md-6">
        @{
            
            using (Html.BeginForm("HourPrbPost", "Parameters",
                FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
            {
                <div multiple-file-selector file-title="忙时PRB统计导入：" tag="hourPrb" file-type=".csv"></div>
            }
        }
        @{
            using (Html.BeginForm("HourUsersPost", "Parameters",
                FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
            {
                <div multiple-file-selector file-title="忙时用户数统计导入：" tag="hourUsers" file-type=".csv"></div>
            }
        }
    </div>
    <div class="col-md-6">
        <h4>PRB指标</h4>
        <button class="btn btn-primary" ng-click="dumpPrbItems()" ng-disabled="prbInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearPrbItems()" ng-disabled="prbInfo.totalDumpItems === 0">
            清除导入
        </button>
        总数：{{prbInfo.totalDumpItems}}&nbsp;
        成功数：{{prbInfo.totalSuccessItems}}&nbsp;
        失败数：{{prbInfo.totalFailItems}}
        <div uib-progress>
            <div uib-bar value="100*prbInfo.totalSuccessItems / prbInfo.totalDumpItems" type="success">
                <span ng-show="100*prbInfo.totalSuccessItems / prbInfo.totalDumpItems > 5">
                    {{100*prbInfo.totalSuccessItems / prbInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
            <div uib-bar value="100*prbInfo.totalFailItems / prbInfo.totalDumpItems" type="erroe">
                <span ng-show="100*prbInfo.totalFailItems / prbInfo.totalDumpItems > 5">
                    {{100*prbInfo.totalFailItems / prbInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
        </div>
        <h4>用户数指标</h4>
        <button class="btn btn-primary" ng-click="dumpUsersItems()" ng-disabled="usersInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearUsersItems()" ng-disabled="usersInfo.totalDumpItems === 0">
            清除导入
        </button>
        总数：{{usersInfo.totalDumpItems}}&nbsp;
        成功数：{{usersInfo.totalSuccessItems}}&nbsp;
        失败数：{{usersInfo.totalFailItems}}
        <div uib-progress>
            <div uib-bar value="100*usersInfo.totalSuccessItems / usersInfo.totalDumpItems" type="success">
                <span ng-show="100*usersInfo.totalSuccessItems / usersInfo.totalDumpItems > 5">
                    {{100*usersInfo.totalSuccessItems / usersInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
            <div uib-bar value="100*usersInfo.totalFailItems / usersInfo.totalDumpItems" type="erroe">
                <span ng-show="100*usersInfo.totalFailItems / usersInfo.totalDumpItems > 5">
                    {{100*usersInfo.totalFailItems / usersInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div date-span-row begin-date="beginDate" end-date="endDate">
            <button class="btn btn-primary" ng-click="updateDumpHistory()">更新</button>
        </div>
        <div hour-dump-history-table items="dumpHistory"></div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/parameters/import/hour.controller.js"></script>
}
