@{
    ViewBag.Title = "校园网基本信息维护";
}

<h4>@ViewBag.Title</h4>

<div ng-controller="maintain.college">
    <div class="input-group">
        <select ng-model="collegeName" ng-options="c as c for c in collegeInfo.names" class="form-control"></select>
        <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="addOneCollegeMarkerInfo()" ng-disabled="collegeExisted">添加信息</button>
            <button class="btn btn-success" ng-click="createNewCollege()">增加新校园</button>
        </div>
    </div>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-stats"></span>
            基本信息
        </div>
        <div class="panel-body">
            <div college-info-list colleges="collegeYearList"></div>
        </div>
    </div>
    <div class="panel panel-orange">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-apple"></span>
            基础统计信息
        </div>
        <div class="panel-body">
            <div college-stat-table college-list="collegeList"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/parameters/maintain.college.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LlMnTd7NcCWI1ibhDAdKeVlG"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="~/Scripts/MarkerClusterer.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script src="~/Scripts/baidu/plugins/baidu.tangram.js"></script>
    <script src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
    <script src="~/Scripts/baidu/plugins/ComplexCustomOverlay.js"></script>
}

