@import "../_colors.scss";

.cloudmap-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	border: 1px solid #b0b6be;
}

.shuru{ 
	position:absolute;
	right:10px;
	top:40px;
	padding:8px 10px;
	background-color:rgba(255, 255, 255, 0.9);
	border-radius:8px; 

}

.wenben{ 
	width:149px; 
	height:22px;
	background-color:#ffffff; 
	border:1px solid #5689ed; 
	float:left;

}

.anniu{ 
	background-image:url(../../Images/BtsIcons/icon.png); 
	background-repeat:no-repeat; 
	width:16px; 
	height:16px; 
	margin:3px 8px; 
	cursor:pointer;

}


.cloudmap-baiduwrapper {
	overflow: hidden;
	position: relative;
	border-left: 1px solid #b0b6be;
	text-align: left;
}

.cloudmap-tools {
	border-bottom: 1px solid #e6e7ea;
	width: 100%;
	height: 35px;
	background-color: #f9f9fb;
}

.cloudmap-select-city {
	height: 22px;
	line-height: 22px;
	padding-left: 15px;
}

.cloudmap-city-name {
	color: $color-dark-gray;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		color: $color-blue-azure;
	}
}

.cloudmap-search-city {
	margin-bottom: 20px;
}

.left-panel{
	position: absolute;
	left: 20px;
	top: 20px;
	overflow: hidden;
	pointer-events: none;
	
}
	
	.cloudmap-search-wrapper {
		width: 100%;
		overflow: hidden;
		position: relative;
		border: 1px solid #b0b6be;
	}
	.cloudmap-search-station {
		position: relative;
		z-index: 2;
		pointer-events: auto;
		width: 280px;
		float: left;
		box-sizing: border-box;
		box-shadow: 1px 2px 1px rgba(0,0,0,.15);
	}
	.cloudmap-search-station-input {
		box-sizing: border-box;
		border: 0;
		padding: 9px 0;
		width: 280px;
		border-left: 10px solid transparent;
		border-right: 27px solid transparent;
		line-height: 20px;
		font-size: 16px;
		height: 38px;
		color: #333;
		position: relative;
		border-radius: 2px 0 0 2px;
	}
	.cloudmap-search-station-b {
		
		pointer-events: auto;
		background: url(/Content/Images/Hotmap/icon_search.png) no-repeat ;
		width: 57px;
		height: 38px;
		float: left;
		border: 0;
		padding: 0;
		cursor: pointer;
		border-radius: 0 2px 2px 0;
		box-shadow: 1px 2px 1px rgba(0,0,0,.15);
	}
	.cloudmap-search-tools {
		width: 340px;
		border-radius: 2px;
		position: relative;
		z-index: 5;
	}
	.cardlist{
	display:none;
	position: relative;
	z-index: 0;
	.card {
		pointer-events: auto;
		width: 100%;
		height:auto;
		margin-top: 10px;
		box-sizing: border-box;
		padding: 10px;
		background: #fff;
		box-shadow: 1px 2px 1px rgba(0,0,0,.15);
		overflow: auto;
		overflow-x: hidden;
		position: relative;
		border-radius: 2px;
		-webkit-transition: max-height .5s;
		transition: max-height .5s;
		a {
				text-decoration: none;
			}
		}
	}
	.poilist {
	
		width: 270px;
		padding: 5px 0 0;
		background-color: #fff;
	}
	.search-item{
		   padding: 6px 0;
		   display:list-item;
		   
	}
	.search-item:hover{
	   background-color:#f6f6f6;
	   cursor:pointer;
	}
	.cf {
		zoom:1;
	}
	.search-item .col-l{
		float: left;
		.no-1 {
			background-image: url(/Content/Images/Hotmap/marker.png);
			width: 18px;
			height: 25px;
			display: inline-block;
			margin-left: 6px;
			margin-top: 4px;
			text-align:center;
			color:white;
			}
		 .col-r {
			float: right;
			width: 75px;
			margin-right: 10px;
			text-align: right;
			}
		.row, .search-item .select-row, .search-item .content-des {
			padding: 5px 0;
			line-height: 1.2;
			}
		.addr {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			}
	}

	.mr_90 {
	margin-right: 90px;
	}
	.ml_30 {
	margin-left: 30px!important;
	}

	.n-blue {
	color: #3385ff!important;
	}

	.n-grey {
	color: #666!important;
	}   
	.children-container {
	display: none;
	}

.index-x {
	margin-left: 12px;
	margin-right: 12px;
	background-color: #ffffff;
	cursor: pointer;
}

	.index-x:hover {
		background-color: #fafafa;
	}

.index-x-1 {
	width: 197px;
	height: 87px;
	margin: 0 auto;
	padding-top: 18px;
}

.index-x-1-bg {
	background-color: #49a7da;
	width: 16px;
	height: 16px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	float: left;
}

.index-x-1-w {
	color: #3d6dcc;
	line-height: 16px;
	text-indent: 8px;
}

.index-x-bottom {
	color: #000000;
	font-size: 14px;
	padding-top: 10px;
	margin: 0 auto;
	width: 197px;
}

	.index-x-bottom ul {
		margin: 0px;
		padding: 0px;
	}

	.index-x-bottom li {
		list-style: none;
		float: left;
		text-align: center;
		line-height: 20px;
		cursor: pointer;
		margin-left: 4px;
	}

.f-zt {
	font-weight: bold;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
}

.f-wz-a {
	color: #0000cc;
	background-color: #ffffff;
	border: 1px solid #e7ecf0;
	width: 20px;
	height: 20px;
}

	.f-wz-a:hover {
		background-color: #e8f1f6;
	}

.map-w {
	background-color: #ffffff;
	padding: 7px;
	left: auto;
	top: auto;
	right: 12px;
	bottom: 0px;
	position: absolute;
}

	.map-w ul {
		padding: 0px;
		margin: 0px;
	}

	.map-w li {
		list-style: none;
		float: left;
		margin-right: 1px;
		text-shadow: 1px 1px 1px #000;
	}

.map-w-1 {
	padding: 5px;
}

.map-w-2 {
	padding: 5px;
	background-color: #FF0000;
	color: #ffffff;
	border: 1px solid #FF0000;
	cursor: pointer;
}

.legend-item-wrapper {
	position: absolute;
	height: 45px;
	top: -39px;
	left: 22px;
}

.map-w-3 {
	padding: 5px;
	background-color: #FF6600;
	color: #ffffff;
	border: 1px solid #FF6600;
	cursor: pointer;
}

.map-w-4 {
	padding: 5px;
	background-color: #FFF21F;
	color: #ffffff;
	border: 1px solid #FFF21F;
	cursor: pointer;
}

.map-w-5 {
	padding: 5px;
	background-color: #2DFF3B;
	color: #ffffff;
	border: 1px solid #2DFF3B;
	cursor: pointer;
}

.map-w-6 {
	padding: 5px;
	background-color: #7ED354;
	color: #ffffff;
	border: 1px solid #7ED354;
	cursor: pointer;
}

.map-w-7 {
	padding: 5px;
	background-color: #00B354;
	color: #ffffff;
	border: 1px solid #00B354;
	cursor: pointer;
}

.map-w-i {
	padding: 5px;
	color: #ffffff;
	cursor: pointer;
}

.map-z {
	background-color: #ffffff;
	padding: 7px;
	left: auto;
	top: 10px;
	right: 10px;
	bottom: auto;
	position: absolute;
}

.map-z-1 {
	overflow: hidden;
}

.map-z-1-left {
	background-color: #ffffff;
	border: 1px solid #acb2bb;
	padding: 5px 10px;
	color: #000000;
	float: left;
	cursor: pointer;
	margin-right: 4px;
}

	.map-z-1-left:hover {
		background-color: #278df2;
		color: #ffffff;
	}

.map-z-2 {
	top: 32px;
	right: 0px;
	width: 295px;
	overflow: hidden;
	padding: 13px;
	margin-top: 15px;
	border: 1px solid #acb2bb;
	position: absolute;
	background-color: #ffffff;
}

.map-z-btn {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
}

.map-z-btn-a {
	font-weight: normal;
	font-size: 12px;
}

.map-z-2-a {
	overflow: hidden;
}

.map-x-time {
	width: 252px;
	float: left;
}

.map-z-sz {
	left: -9px;
	width: 270px;
	margin-top: -3px;
	overflow: hidden;
	position: relative;
}

.map-z-sz-a {
	width: 12.5%;
	padding-top: 7px;
	text-align: center;
	float: left;
}

.rel_top {
	height: 90px;
}

.rel_top_left {
	float: left;
}

	.rel_top_left ul {
		margin: 0px;
		padding-left: 12px;
		padding-top: 15px;
	}

	.rel_top_left li {
		list-style: none;
		margin-top: 8px;
		color: #2a93fe;
	}

.rel_xl {
	width: 130px;
	height: 24px;
	border: 1px solid #70b6fe;
}

.rel_wbn {
	width: 126px;
	height: 20px;
	border: 1px solid #70b6fe;
}

.rel_bottom {
	margin-left: 134px;
	margin-top: 2px;
}

.layer_show {
	position: absolute;
	left: 20%;
	top: 10%;
	background: #fff;
	border: 1px solid #a8c0ef;
	font-size: 12px;
	width: 300px;
}

	.layer_show > h3 {
		background: #a8c0ef;
		color: #174c81;
		line-height: 28px;
		margin: 0;
		padding: 0 12px;
		font-weight: normal;
		font-size: 12px;
	}

		.layer_show > h3 > a {
			cursor: pointer;
			color: #039;
			float: right;
		}

.layer_mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	opacity: 0.5;
}


.scoll_div {
	max-height: 300px;
	overflow: auto;
}

.right-panel {
	position: absolute;
	z-index: 1001;
	bottom: auto;
	right: 10px;
	top: 10px;
	left: auto;
}