<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-success" is-open="true">
            <div uib-accordion-heading>
                现有基站列表
                <span ng-if="currentENodebList" class="badge">{{currentENodebList.length}}</span>
                <span ng-if="currentBtsList" class="badge">{{currentBtsList.length}}</span>
            </div>
            <div ng-if="currentENodebList" e-nodeb-plain-table items="currentENodebList" begin-date="beginDate" end-date="endDate"></div>
            <div ng-if="currentBtsList" bts-plain-table items="currentBtsList"></div>
        </div>
        <div uib-accordion-group class="panel panel-default">
            <div uib-accordion-heading>
                同区候选基站列表
                <span ng-if="candidateENodebList" class="badge">{{candidateENodebList.length}}</span>
                <span ng-if="candidateBtsList" class="badge">{{candidateBtsList.length}}</span>
            </div>
            <div ng-if="candidateENodebList" e-nodeb-plain-table items="candidateENodebList" begin-date="beginDate" end-date="endDate"></div>
            <div ng-if="candidateBtsList" bts-plain-table items="candidateBtsList"></div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-if="candidateENodebList" ng-disabled="!candidateENodebList.length" ng-click="arrangeLte(0)">
        调整LTE基站
    </button>
    <button class="btn btn-warning" ng-if="candidateBtsList" ng-disabled="!candidateBtsList.length" ng-click="arrangeCdma(0)">
        调整CDMA基站
    </button>
    <button class="btn btn-default" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>