<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div cell-details e-nodeb-id="eNodebId" sector-id="sectorId"></div>
    <div uib-tabset active="active">
        <div uib-tab index="0" heading="切换参数">
            <h4 class="text-primary">同频切换参数</h4>
            <div cell-intra-freq-table e-nodeb-id="eNodebId" sector-id="sectorId"></div>
            <h4 class="text-primary">小区异频切换参数</h4>
            <div cell-inter-freq e-nodeb-id="eNodebId" sector-id="sectorId"></div>
        </div>
        <div uib-tab index="1" heading="邻区列表">
            <div mongo-neighbor-list mongo-neighbors="mongoNeighbors"></div>
        </div>
        <div uib-tab index="2" heading="功率参数">
            <h4 class="text-primary">系统主要功率参数</h4>
            <div cell-channel-power e-nodeb-id="eNodebId" sector-id="sectorId"></div>
            <h4 class="text-success">上行开环功控参数</h4>
            <div uplink-open-loop-power e-nodeb-id="eNodebId" sector-id="sectorId"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>
