<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{eNodebName}}流量变化趋势</h4>
</div>
<div class="modal-body">
    <div date-span-row begin-date="beginDate" end-date="endDate">
        <button class="btn btn-success" ng-click="queryFlow()">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        <button class="btn btn-default" ng-click="showCharts()">
            <i class="glyphicon glyphicon-picture"></i>
        </button>
    </div>
    <div uib-tabset active="active">
        <div ng-repeat="cell in cellList" uib-tab index="$index" heading="{{cell.eNodebName}}-{{cell.sectorId}}">
            <div flow-table flow-list="cell.flowList"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="downlinkFlowChart"></div>
        </div>
        <div class="col-md-6">
            <div id="uplinkFlowChart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="maxUsersChart"></div>
        </div>
        <div class="col-md-6">
            <div id="averageUsersChart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="maxActiveUsersChart"></div>
        </div>
        <div class="col-md-6">
            <div id="averageActiveUsersChart"></div>
        </div>
    </div>
    <div id="flowDate"></div>
    <div id="usersDate"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>