<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-primary" is-open="true">
            <div uib-accordion-heading>
                LTE小区频段统计
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div style="min-height: 400px" id="indoorChart"></div>
                </div>
                <div class="col-md-6">
                    <div style="min-height: 400px" id="outdoorChart"></div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel panel-success">
            <div uib-accordion-heading>
                LTE基站列表
                <div class="badge">{{eNodebList.length}}</div>
            </div>
            <div e-nodeb-plain-table items="eNodebList" begin-date="beginDate" end-date="endDate"></div>
        </div>
        <div uib-accordion-group class="panel panel-default">
            <div uib-accordion-heading>
                CDMA基站列表
                <div class="badge">{{btsList.length}}</div>
            </div>
            <div bts-plain-table items="btsList"></div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="arrangeENodebs()">调整LTE基站</button>
    <button class="btn btn-warning" ng-click="arrangeBtss()">调整CDMA基站</button>
    <button class="btn btn-default" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>

