<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="single-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>专题优化</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="query()">
                <i class="glyphicon glyphicon-flag"></i>
                热点列表
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="addHotSpot()">
                <i class="glyphicon glyphicon-apple"></i>
                新增热点
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showUsersTrend()">
                <i class="glyphicon glyphicon-barcode"></i>
                用户数趋势
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showFeelingRateTrend()">
                <i class="glyphicon glyphicon-barcode"></i>
                感知速率趋势
            </a>
        </li>
    </ul>
</div>

<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="view-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>视图-{{currentView}}</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="view-button">
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="updateMap()">
                <i class="glyphicon glyphicon-flag"></i>
                热点地图
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showUplinkFeelingRate()">
                <i class="glyphicon glyphicon-flag"></i>
                上行感知速率
            </a>
        </li>
    </ul>
</div>