<table class="table table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>项目名称</th>
            <th>保障区域</th>
            <th>开始日期</th>
            <th>结束日期</th>
            <th>需求等级</th>
            <th>网络类型</th>
            <th>需求部门</th>
            <th>工单状态</th>
            <th>处理记录</th>
        </tr>
    </thead>
    <tbody ng-repeat="item in items">
        <tr>
            <td>{{item.serialNumber}}</td>
            <td style="min-width: 150px">{{item.projectName}}</td>
            <td>{{item.area}}</td>
            <td>{{item.beginDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{item.planDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{item.demandLevelDescription}}</td>
            <td>{{item.networkTypeDescription}}</td>
            <td>{{item.department}}</td>
            <td>
                <button class="btn btn-sm btn-warning" ng-click="supplement(item)"
                        ng-hide="item.isInfoComplete">补全信息</button>
                <span ng-if="item.isFinished && item.isInfoComplete" style="color: green">已完成</span>
            </td>
            <td>
                <a class="btn btn-sm btn-success" ng-href="{{rootPath}}vip/process/{{item.serialNumber}}"
                   ng-show="item.isInfoComplete">工单处理</a>
            </td>
        </tr>
    </tbody>
</table>