<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="single-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>操作</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showStationList()">
                <i class="glyphicon glyphicon-tree-conifer"></i>
                站点列表
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="importData()">
                <i class="glyphicon glyphicon-flag"></i>
                导入数据
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="outportData()">
                <i class="glyphicon glyphicon-apple"></i>
                导出数据
            </a>
        </li>
    </ul>
</div>



<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="view-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>区域-{{distinct}}</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="view-button">
        <li role="menuitem" ng-repeat="distinctName in distincts">
            <a class="btn btn-sm btn-success" ng-click="reflashMap($index)">
                <i class="glyphicon glyphicon-flag"></i>
                {{distinctName}}
            </a>
        </li>
    </ul>
</div>
