<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="single-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>数据维护</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <a class="btn btn-sm btn-warning" ng-click="showSiteStats()">
                <i class="glyphicon glyphicon-fullscreen"></i>
                站点数量
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showOpenProcess()">
                <i class="glyphicon glyphicon-tree-conifer"></i>
                开通进度
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showFlow()">
                <i class="glyphicon glyphicon-flag"></i>
                匹配分析
            </a>
        </li>
    </ul>
</div>

<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button uib-popover-template="'/appViews/Evaluation/Dialog/BtsSearchCondition.html'" popover-title="查询条件设定" popover-placement="bottom-right"
            class="btn btn-default btn-sm">
        查询数据
    </button>
</div>
