<div class="btn-group-sm col-md-4" uib-dropdown dropdown-append-to-body>
    <button id="single-button" type="button" class="btn btn-sm btn-default"
            uib-dropdown-toggle ng-disabled="disabled">
        <strong>覆盖-{{currentView}}</strong>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <a class="btn btn-sm btn-warning" ng-disabled="!data.length" ng-click="showStats()">
                <i class="glyphicon glyphicon-fullscreen"></i>
                电信指标统计
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-disabled="!data.length" ng-click="showTelecomCoverage()">
                <i class="glyphicon glyphicon-fullscreen"></i>
                电信全栅格覆盖
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-disabled="!data.length" ng-click="showMobileCoverage()">
                <i class="glyphicon glyphicon-tree-conifer"></i>
                移动
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-disabled="!data.length" ng-click="showUnicomCoverage()">
                <i class="glyphicon glyphicon-flag"></i>
                联通
            </a>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-disabled="!data.length" ng-click="showTelecomWeakCoverage()">
                <i class="glyphicon glyphicon-barcode"></i>
                电信弱覆盖栅格
            </a>
        </li>
        <li role="menuitem">
            <a class="btn btn-sm btn-success" ng-click="showSmallRange()">
                <i class="glyphicon glyphicon-barcode"></i>
                小范围显示
            </a>
        </li>
    </ul>
</div>

<div class="btn-group-sm col-md-4">
    <button uib-popover-template="'/appViews/Evaluation/Dialog/AgpsSearchCondition.html'" popover-title="查询条件设定" popover-placement="bottom-right"
       class="btn btn-default btn-sm">
        查询数据
    </button>
</div>