@{
    ViewBag.Title = "工单文件导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            @{Html.RenderPartial("_AlertPanel");}
            <div class="col-md-6">
                @using (Html.BeginForm("WorkItemPost", "Kpi",
                    FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">工单文件选择：</label>
                        <div class="col-md-6">
                            <input name="workItem" class="form-control" type="file" accept=".xls, .xlsx" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>导入文件
                            </button>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("AlarmWorkItemPost", "Kpi",
                    FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">故障工单文件选择：</label>
                        <div class="col-md-6">
                            <input name="alarmWorkItem" class="form-control" type="file" accept=".xls, .xlsx" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>导入文件
                            </button>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("CheckingProjectPost", "Kpi",
                    FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">巡检计划文件选择：</label>
                        <div class="col-md-6">
                            <input name="checkingProject" class="form-control" type="file" accept=".xls, .xlsx" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>导入文件
                            </button>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("CheckingResultPost", "Kpi",
                    FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">巡检结果文件选择：</label>
                        <div class="col-md-6">
                            <input name="checkingResult" class="form-control" type="file" accept=".xls, .xlsx" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>导入文件
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6" ng-controller="workitem.import">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            数据导入进度
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <button class="btn btn-primary" ng-click="dumpItems()">一键导入</button>
                            <button class="btn btn-danger" ng-disabled="totalDumpItems.length === 0" ng-click="clearItems()">清除导入</button>
                        </p>
                        <div ng-include="'/appViews/Import/ImportProgress.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/kpi/workitem.import.js"></script>
}