<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div date-span-row begin-date="beginDate" end-date="endDate">
        <button type="button" class="btn btn-primary" ng-click="query()">
            <i class="glyphicon glyphicon-search" title="统计"></i>
        </button>
        <button class="btn btn-default" ng-click="showCharts()">
            <i class="glyphicon glyphicon-picture"></i>
        </button>
    </div>
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-primary" is-open="true">
            <div uib-accordion-heading>
                小区统计列表
                <div class="badge">{{cellList.length}}</div>
            </div>
            <div uib-tabset active="active">
                <div ng-repeat="cell in cellList" uib-tab heading="{{cell.eNodebName}}-{{cell.sectorId}}">
                    <div flow-table flow-list="cell.flowList" ng-if="cell.flowList"></div>
                    <div feeling-table feeling-list="cell.feelingList" ng-if="cell.feelingList"></div>
                </div>
            </div>
        </div>
        <div uib-accordion-group heading="份额分析" class="panel panel-default">
            <div class="row">
                <div class="col-md-6">
                    <div id="downlinkFlowChart"></div>
                </div>
                <div class="col-md-6">
                    <div id="uplinkFlowChart"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="maxUsersChart"></div>
                </div>
                <div class="col-md-6">
                    <div id="averageUsersChart"></div>
                </div>
            </div>
            <div class="row" ng-if="cellList[0].flowList">
                <div class="col-md-6">
                    <div id="maxActiveUsersChart"></div>
                </div>
                <div class="col-md-6">
                    <div id="averageActiveUsersChart"></div>
                </div>
            </div>
        </div>
        <div uib-accordion-group heading="变化趋势" class="panel panel-default">
            <div id="flowDate"></div>
            <div id="usersDate"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>