<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div date-span-row begin-date="beginDate" end-date="endDate">
        <button type="button" class="btn btn-primary" ng-click="query()">
            <i class="glyphicon glyphicon-search" title="统计"></i>查询
        </button>
    </div>

    <div ng-if="collegeList" college-flow-list colleges="collegeList"></div>
    <div ng-if="hotSpotList" hot-spot-flow-list hot-spots="hotSpotList"></div>
    <div class="row">
        <div class="col-md-6" style="min-height: 300px" id="downloadFlowConfig"></div>
        <div class="col-md-6" style="min-height: 300px" id="uploadFlowConfig"></div>
        <div class="col-md-6" style="min-height: 300px" id="averageUsersConfig"></div>
        <div class="col-md-6" style="min-height: 300px" id="activeUsersConfig"></div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>