<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div date-span-row begin-date="beginDate" end-date="endDate">
        <button type="button" class="btn btn-success" ng-click="query()">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
    <div complain-position-list items="items" messages="page.messages" query="query()"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>