
$color-blue: #30a5ff;
$color-blue-azure: #3977d2;
$color-light-gray-blue: #9fadbb;

$color-teal: #1ebfae;
$color-teal-lighten90: lighten($color-teal, 10%);

$color-orange: #ffb53e;
$color-orange-dark110: darken($color-orange, 10%);
$color-light-orange: #4FA5FC;

$color-red: #f9243f;
$color-dark-red: #880000;
$color-light-red: #ef4040;

$color-yellow: #ffff66;
$color-light-yellow: #00497E;

$color-all-white: #fff;
$color-gray: #5f6468;
$color-dark-gray: #333333;
$color-half-gray: #3c3c3c;
$color-light-gray: #F3F3F3;
$color-white-gray: #dddddd;
$color-light-white-gray: #e9e9e9;
$color-all-black: #000000;

$color-purple: #FFFF00;
$color-baidu-rmb: #EB6100;
$color-baidu-a: #0041D9;
$color-baidu-red-background: #EE5D5B;
$color-baidu-red-border: #BC3B3A;
$color-baidu-blue-background: #6BADCA;
$color-baidu-blue-border:#0000ff;
