<div date-span-row begin-date="beginDate" end-date="endDate"></div>

<p>
    总数：{{progressInfo.dumpCells.length}}&nbsp;
    成功数：{{progressInfo.totalSuccessItems}}&nbsp;
    失败数：{{progressInfo.totalFailItems}}&nbsp;
    小区信息：{{progressInfo.cellInfo}}
    <div class="btn-group" style="float: right">
        <button class="btn btn-warning" ng-click="reset()">重置</button>
        <button class="btn btn-primary" ng-click="dump()">导入</button>
    </div>
</p>
<div class="progress" ng-if="progressInfo.dumpCells.length > 0">
    <div class="progress-bar" role="progressbar" aria-valuemax="100" aria-valuemin="0"
         ng-style="{width: 100*(progressInfo.totalSuccessItems+progressInfo.totalFailItems)/progressInfo.dumpCells.length+'%'}">
    </div>
</div>
<div uib-pagination total-items="progressInfo.dumpCells.length" ng-model="currentPage" items-per-page="20"
     class="pagination-sm" boundary-link-numbers="true" rotate="false" max-size="10"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>基站编号</th>
            <th>频点</th>
            <th>PCI</th>
            <th>扇区编号</th>
            <th>基站名称</th>
            <th>查询信息</th>
            <th>导入情况</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cell in progressInfo.dumpCells.slice((currentPage - 1) * 20, currentPage * 20)">
            <td>{{cell.eNodebId}}</td>
            <td>{{cell.frequency}}</td>
            <td>{{cell.pci}}</td>
            <td>{{cell.sectorId}}</td>
            <td>{{cell.name}}</td>
            <td>{{cell.dumpInfo}}</td>
            <td>
                <button class="btn btn-default" ng-click="dumpMongo(cell)">导入数据</button>
            </td>
        </tr>
    </tbody>
</table>