<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body row">
    <div class="infoBoxContent col-md-4">
        <div lte-cell-basic-info neighbor="neighbor" ng-show="parameter.selected==='基本参数'"></div>
        <div cell-intra-freq e-nodeb-id="eNodebId" sector-id="sectorId" ng-show="parameter.selected==='同频切换'"></div>
        <div ng-show="parameter.selected==='异频切换'">
            <div class="title">
                <strong>异频切换参数: </strong>
            </div>
            <div class="list" ng-repeat="ho in interFreqHo">
                <ul>
                    <li>
                        <div class="left">频点号</div>
                        <div class="rmb">{{ho.earfcn>0?ho.earfcn:'中兴小区'}}</div>
                    </li>
                    <li>
                        <div class="left">异频切换采用的切换事件</div>
                        <div class="rmb">{{ho.interFreqHoEventType | huaweiEvent}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div a1-inter-freq inter-freq-ho="interFreqHo" ng-show="parameter.selected==='异频切换'"></div>
        <div a2-inter-freq inter-freq-ho="interFreqHo" ng-show="parameter.selected==='异频切换'"></div>
        <div a3-inter-freq inter-freq-ho="interFreqHo" ng-show="parameter.selected==='异频切换'"></div>
        <div a4-inter-freq inter-freq-ho="interFreqHo" ng-show="parameter.selected==='异频切换'"></div>
        <div a5-inter-freq inter-freq-ho="interFreqHo" ng-show="parameter.selected==='异频切换'"></div>
    </div>
    <div class="col-md-8">
        <div date-span-row begin-date="beginDate" end-date="endDate">
            <button class="btn btn-sm btn-primary" ng-click="queryFlow()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <div style="min-height: 400px" id="flowChart"></div>
        <div style="min-height: 400px" id="usersChart"></div>
    </div>
</div>
<div class="modal-footer">
    <label>参数查看：</label>
    <select ng-model="parameter.selected" ng-options="p as p for p in parameter.options"></select>
    <button class="btn btn-primary" ng-click="dump()">MR导入</button>
    <button class="btn btn-default" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
