<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="infoBoxContent">
        <div class="title">
            <strong>基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">基站编号</div>
                    <div class="rmb">{{neighbor.victimENodebId}}</div>
                </li>
                <li>
                    <div class="left">总干扰水平</div>
                    <div class="rmb">{{neighbor.interferenceLevel | number: 2}}</div>
                </li>
                <li>
                    <div class="left">6dB干扰数</div>
                    <div class="rmb">{{neighbor.overInterferences6Db | number: 2}}</div>
                </li>
                <li>
                    <div class="left">10dB干扰数</div>
                    <div class="rmb">{{neighbor.overInterferences10Db | number: 2}}</div>
                </li>
                <li>
                    <div class="left">MOD3干扰数</div>
                    <div class="rmb">{{neighbor.mod3Interferences | number: 2}}</div>
                </li>
                <li>
                    <div class="left">MOD6干扰数</div>
                    <div class="rmb">{{neighbor.mod6Interferences | number: 2}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
