<div class="row">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ng-include="'/appViews/GeneralMenu.html'"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <p>
            <ul class="nav nav-pills">
                <li ng-repeat="sectionItem in sectionItems" ng-class="{active: section.title == sectionItem.name}">
                    <a ng-href="{{sectionItem.url}}" ng-if="!sectionItem.items.length">
                        {{sectionItem.displayName}}
                    </a>
                    <a href="" ng-if="sectionItem.items.length" data-toggle="dropdown">
                        {{sectionItem.displayName}}
                    </a>
                    <ul ng-if="sectionItem.items.length" class="dropdown-menu">
                        <li ng-repeat="menuSubItem in sectionItem.items">
                            <a ng-href="{{menuSubItem.url}}">{{menuSubItem.displayName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
        <div ng-view></div>
    </div>
</div>

@section Scripts{
<style>
    .odd {
        background-color: blue;
    }

    .even {
        background-color: red;
    }

    input.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid {
        border: 1px solid green;
    }
</style>
    <script src="~/Areas/TestPage/Scripts/angular/route.js"></script>
<script src="~/Areas/TestPage/Scripts/angular/root.js"></script>
<script src="~/Areas/TestPage/Scripts/angular/chap10.viewmodel.js"></script>
}