<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th colspan="4">
                后端投诉单（B）
            </th>
            <th colspan="4">
                后端需求单（C）
            </th>
            <th></th>
        </tr>
        <tr>
            <th>区域</th>
            <th>2G</th>
            <th>3G</th>
            <th>4G</th>
            <th>总数</th>
            <th>2G</th>
            <th>3G</th>
            <th>4G</th>
            <th>总数</th>
            <th>后端总量</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in stats">
            <td>{{stat.district}}</td>
            <td>{{stat.complain2G}}</td>
            <td>{{stat.complain3G}}</td>
            <td>{{stat.complain4G}}</td>
            <td>{{stat.complainAll}}</td>
            <td>{{stat.demand2G}}</td>
            <td>{{stat.demand3G}}</td>
            <td>{{stat.demand4G}}</td>
            <td>{{stat.demandAll}}</td>
            <td>
                <a ng-if="stat.total>0" href="" ng-click="showComplainItems(stat.district)">{{stat.total}}</a>
                <span ng-if="stat.total===0">0</span>
            </td>
        </tr>
    </tbody>
</table>